{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'Ico/65241ab4e3ac59000d8e12c4.ico' %}" type="image/x-icon">
    <title>STPB</title>
</head>
<body>

    {% block main %}
    {% endblock %}
<!--
<div class="container-fluid">

    {% block menu %}
    {% endblock %}
    
</div>
-->

</body>
</html>